vrrp_script chk_proxysql {
  script "killall -0 proxysql"
  interval 2
  weight 2
}
vrrp_instance VI_1 {
    interface {{ vrrp_interface }}
    {% if inventory_hostname == groups['DLB'][0] %}state MASTER{% else %}state BACKUP{% endif %}    
    priority 200
    virtual_router_id {{ virtual_router_id }}
    unicast_src_ip {{ ansible_host }}
    unicast_peer {
        {% for host in groups['DLB'] %}{% if inventory_hostname != host %}
        {{hostvars[host]['ansible_host']}},
        {% endif %}{% endfor %}
        #IP_ADDRESS_DLB-3,
        #IP_ADDRESS_DLB-7,
    }
    authentication {
        auth_type {{ auth_type }}
        auth_pass {{ auth_pass }}
    }
    track_script {
        chk_proxysql
    }
 virtual_ipaddress {
    {{ virtual_ip }} dev {{ vrrp_interface }}
 }
}
