#!/bin/bash
DATA1=`date +%Y-%m-%d`
DATA2=`date +%H-%M-%S`
SHARE_DIR="{{ share_dir }}"
BACKUP_DIR="{{ backup_dir }}"

test_file="{{share_dir}}/DO_NOT_DELETE.txt"
timeout="{{ mount_timeout }}"
if [ ! -f "$test_file" ]; then mount "{{share_dir}}" > /dev/null  2>&1 ; fi
if [ ! -f "$test_file" ]; then sleep $timeout; mount "{{share_dir}}" > /dev/null 2>&1; fi
if [ ! -f "$test_file" ]; then echo "*****`date` share mount error, backup failed*****"; exit 1 ; fi

echo "*****`date` start diff backup*****"
xtrabackup --backup --target-dir=$BACKUP_DIR/diff-$DATA2 --user=root --incremental-basedir=$BACKUP_DIR/full
cd $BACKUP_DIR/diff-$DATA2
tar -czvf ${SHARE_DIR}/${DATA1}/${DATA2}_db_diff.tar.gz *
rm -rf $BACKUP_DIR/diff-$DATA2
echo "*****`date` complete diff backup*****"
echo ""

